{% extends 'base.html' %}

{% block title %}Lista de Grupos{% endblock %}

{% block content %}
<h1 class="text-center">Lista de Grupos</h1>
<a href="{{ url_for('cadastrar_grupo') }}" class="btn btn-success mb-3">Cadastrar Novo Grupo</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Exclusivo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for grupo in grupos %}
        <tr>
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.nome }}</td>
            <td>{{ grupo.exclusivo }}</td>
            <td>
                <a href="{{ url_for('editar_grupo', grupo_id=grupo.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{{ url_for('deletar_grupo', grupo_id=grupo.id) }}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}