{% extends "index.html" %}
{% block title %}{{ title }} - Finanças Pessoais{% endblock %}
{% block index %}
<div class="card">
  <div class="card-header d-flex justify-content-between bg-primary text-white">
    <h4 class="mb-0">{{ title }}</h4>
  </div>
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row mb-3 px-1">
        <div class="col-md-6 px-1">
          {{ form.nome.label(class="form-label") }}
          {{ form.nome(class="form-control form-control-sm") }}
          {% for error in form.nome.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col-md-3 px-1">
          {{ form.tipo_id.label(class="form-label") }}
          {{ form.tipo_id(class="form-select form-select-sm") }}
          {% for error in form.tipo_id.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col-md-3 px-1">
          {{ form.saldo_inicial.label(class="form-label") }}
{{ form.saldo_inicial(class="form-control form-control-sm") }}
{% for error in form.saldo_inicial.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <a href="{{ url_for('conta.listar_contas') }}" class="btn btn-secondary btn-sm">Cancelar</a>
        {% if 'Editar' in title %}
        <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
        {% else %}
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %} 