{% extends 'base.html' %} {% block title %}Descrições{% endblock %} {% block
content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="h3 text-gray-800">Descrições</h1>
</div>

<div class="card">
  <div class="card-header bg-primary text-white">
    <h4 class="mb-0">Insira Nova Descrição</h4>
  </div>
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row mb-2">
        <div class="col-md-6">
          {{ form.category_id.label(class="form-label") }} {{
          form.category_id(class="form-select", id="categorySelect",
          **{'data-preselected': form.category_id.data if form.category_id.data
          else ''}) }} {% for error in form.category_id.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col-md-6">
          {{ form.name.label(class="form-label") }} {{
          form.name(class="form-control") }} {% for error in form.name.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="d-flex justify-content-end">
        {{ form.submit(class="btn btn-primary btn-sm") }}
      </div>
    </form>

    {% if expenses %}
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr>
            <td>{{ expense.id }}</td>
            <td>{{ expense.name if expense.name else '---' }}</td>
            <td>
              {{ expense.category.name if expense.category and
              expense.category.name else '---' }}
            </td>
            <td class="text-center">
              <div class="btn-group btn-group-sm">
                <a
                  href="{{ url_for('transaction.edit_expense', id=expense.id) }}"
                  class="btn btn-outline-primary"
                  title="Editar"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  href="{{ url_for('transaction.delete_expense', id=expense.id) }}"
                  class="btn btn-outline-danger"
                  title="Excluir"
                  onclick="return confirm('Tem certeza que deseja excluir esta descrição?');"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% else %}
    <div class="card">
      <div class="card-body text-center">
        <p class="mb-3">Nenhuma despesa registrada.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
