{% extends 'base.html' %} {% block title %}Categorias{% endblock %} {% block
content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="h3 text-gray-800">Categorias</h1>
</div>

<div class="card">
  <div class="card-body p-0">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row align-items-center p-2 mb-2">
        <div class="col-md-4">
          {{ form.type.label(class="form-label") }} {{
          form.type(class="form-select") }} {% for error in form.type.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col-md-5">
          {{ form.name.label(class="form-label") }} {{
          form.name(class="form-control") }} {% for error in form.name.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col col-md-1">
          {{ form.exclusive.label(class="form-label") }}
          <div>{{ form.exclusive(class="form-check-input") }}</div>
          {% for error in form.exclusive.errors %}
          <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="col col-md-1 text-end mt-1 mt-lg-4">
          {{ form.submit(class="btn btn-primary btn-sm") }}
        </div>
      </div>
    </form>

    {% if categories %}
    <div class="table-responsive">
      <table class="table table-hover table-sm m-0">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Exclusivo</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{ category.type if category.type else '---' }}</td>
            <td>{{ category.name if category.name else '---' }}</td>
            <td>
              {% if category.exclusive == True %} Sim {% elif category.exclusive
              == False %} Não {% else %} --- {% endif %}
            </td>
            <td class="text-center">
              <div class="btn-group btn-group-sm d-flex justify-content-center">
                <a
                  href="{{ url_for('transaction.edit_category', id=category.id) }}"
                  class="btn btn-outline-primary p-0"
                  style="max-width: 50px"
                  title="Editar"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  href="{{ url_for('transaction.delete_category', id=category.id) }}"
                  class="btn btn-outline-danger p-0"
                  style="max-width: 50px"
                  title="Excluir"
                  onclick="return confirm('Tem certeza que deseja excluir esta transação?')"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% else %}
    <div class="card">
      <div class="card-body text-center">
        <p class="mb-3">Nenhuma categoria registrada.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
